<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
    <title>课程页面</title>
    <script type="text/Javascript" src="../../../static/js/ppt.js"></script>
    <link type="text/css" href="../../../static/css/ppt.css" rel="stylesheet">
    <script type="text/Javascript" src="../../../static/js/content.js"></script>
    <link type="text/css" href="../../../static/css/content.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="links">
            <h3 style="display: inline;"><a href="/quiz5_video">视频课</a></h3>
            <h3 style="display: inline;"><a href="/quiz5_ppt">PPT</a></h3>
            <h3 style="display: inline;"><a href="/quiz5_textbook">教科书</a>
            <h3 style="display: inline;"><a href="/quiz5">测试题</a></h3>
            <a href="/stud_homepage"><button class="openbtn">返回</button></a><br>
            <button class="openbtn right" id="toggleRightBtn" onclick="toggleNav('right')">收起章节目录</button>
        </div>
        <iframe id="pptIframe" src="../../../static/textbook/L1textbook.pdf" width="800" height="600"></iframe>
    </div>
    <div id="rightSidebar" class="sidebarA rightA">
            <div class="sidebar-titleA">
                章节目录
                <hr>
            </div>
                <a href="/quiz1_video">L1-Variables</a>
                <a href="/quiz2_video">L2-Control Statements</a>
                <a href="/quiz3_video">L3-Classes & Methods</a>
                <a href="/quiz4_video">L4-Instance Methods</a>
                <a href="/quiz5_video">L5-Classes</a>
                <a href="/quiz6_video">L6-Arrays</a>
        </div>
</html>