<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
	<head>
		<title>课程页面</title>
		<script type="text/JavaScript" src="../../../static/js/typeMethod.js"></script>

	</head>

	<body onload="showup()">
		
		<div style="display:none;" id="Q1">
			<div class="question1">
				<p>1. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
						int[] nums = {1, 2, 3, 4, 5};
						for (int i = 0; i < nums.length / 2; i++) {
							int temp = nums[i];
							nums[i] = nums[nums.length - 1 - i];
							nums[nums.length - 1 - i] = temp;
						}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer1" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="optionA" name="cQ0" value="A" />
				<label for="optionA">A.
					<pre><h2 style="font-size:20px">
		5 4 3 2 1 
					</h2></pre>
				</label>
				
				<input type="radio" id="optionB" name="cQ0" value="B" />
				<label for="optionB">B.
					<pre><h2 style="font-size:20px">
		1 2 3 4 5
					</h2></pre>
				</label>
				
				<input type="radio" id="optionC" name="cQ0" value="C" />
				<label for="optionC">C.
					<pre><h2 style="font-size:20px">
		数组索引越界异常
					</h2></pre>
				</label>
				
				<input type="radio" id="optionD" name="cQ0" value="D" />
				<label for="optionD">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>

		<div style="display:none;" id="Q2">
			<div class="question2">
				<p>2. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
						int[] nums = {1, 2, 3, 2, 2, 3, 1, 3, 3};
							int maxCount = 0;
							int mostFrequentElement = 0;
							for (int i = 0; i < nums.length; i++) {
								int count = 0;
								for (int j = 0; j < nums.length; j++) {
									if (nums[j] == nums[i]) {
										count++;
									}
								}
								if (count > maxCount) {
									maxCount = count;
									mostFrequentElement = nums[i];
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="B" name="answer2" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option2A" name="cQ1" value="A" />
				<label for="option2A">A.
					<pre><h2 style="font-size:20px">
		2
					</h2></pre>
				</label>
				
				<input type="radio" id="option2B" name="cQ1" value="B" />
				<label for="option2B">B.
					<pre><h2 style="font-size:20px">
		3
					</h2></pre>
				</label>
				
				<input type="radio" id="option2C" name="cQ1" value="C">
				<label for="option2C">C.
					<pre><h2 style="font-size:20px">
		1
					</h2></pre>
				</label>
				
				<input type="radio" id="option2D" name="cQ1" value="D">
				<label for="option2D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q3">
			<div class="question3">
				<p>3. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {3, 1, 2, 4, 6, 5};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] % 2 == 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer3" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option3A" name="cQ2" value="A" />
				<label for="option3A">A.
					<pre><h2 style="font-size:20px">
		[2, 4, 6, 3, 1, 5]
					</h2></pre>
				</label>
				
				<input type="radio" id="option3B" name="cQ2" value="B" />
				<label for="option3B">B.
					<pre><h2 style="font-size:20px">
		[6, 4, 2, 3, 1, 5] 
					</h2></pre>
				</label>
				
				<input type="radio" id="option3C" name="cQ2" value="C">
				<label for="option3C">C.
					<pre><h2 style="font-size:20px">
		[2, 4, 6, 5, 1, 3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option3D" name="cQ2" value="D">
				<label for="option3D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q4">
			<div class="question4">
				<p>4. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {-1, 0, 1, -3, 2};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] < 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer4" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option4A" name="cQ3" value="A" />
				<label for="option4A">A.
					<pre><h2 style="font-size:20px">
		[-1, -3, 0, 1, 2] 
					</h2></pre>
				</label>
				
				<input type="radio" id="option4B" name="cQ3" value="B" />
				<label for="option4B">B.
					<pre><h2 style="font-size:20px">
		[-1, -3, 1, 0, 2]
					</h2></pre>
				</label>
				
				<input type="radio" id="option4C" name="cQ3" value="C">
				<label for="option4C">C.
					<pre><h2 style="font-size:20px">
		[0, 1, 2, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option4D" name="cQ3" value="D">
				<label for="option4D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q5">
			<div class="question5">
				<p>5. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {1, 2, 3, 4, 5, 6};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] % 2 != 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer5" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option5A" name="cQ4" value="A" />
				<label for="option5A">A.
					<pre><h2 style="font-size:20px">
		[1, 3, 5, 2, 4, 6]                    
					</h2></pre>
				</label>
				
				<input type="radio" id="option5B" name="cQ4" value="B" />
				<label for="option5B">B.
					<pre><h2 style="font-size:20px">
		[1, 3, 5, 6, 4, 2]
					</h2></pre>
				</label>
				
				<input type="radio" id="option5C" name="cQ4" value="C">
				<label for="option5C">C.
					<pre><h2 style="font-size:20px">
		[5, 3, 1, 6, 4, 2]
					</h2></pre>
				</label>
				
				<input type="radio" id="option5D" name="cQ4" value="D">
				<label for="option5D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>


		</div>
		
		<div style="display:none;" id="Q6">
			<div class="question6">
				<p>6. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {-1, 0, 1, -3, 2};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] >= 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="C" name="answer6" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option6A" name="cQ5" value="A" />
				<label for="option6A">A.
					<pre><h2 style="font-size:20px">
		[0, 1, 2, -1, -3] 
					</h2></pre>
				</label>
				
				<input type="radio" id="option6B" name="cQ5" value="B" />
				<label for="option6B">B.
					<pre><h2 style="font-size:20px">
		[1, 0, 2, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option6C" name="cQ5" value="C">
				<label for="option6C">C.
					<pre><h2 style="font-size:20px">
		[2, 1, 0, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option6D" name="cQ5" value="D">
				<label for="option6D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q7">
			<div class="question7">
				<p>7. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {-1, 0, 1, -3, 2};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] < 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="C" name="answer7" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option7A" name="cQ6" value="A" />
				<label for="option7A">A.
					<pre><h2 style="font-size:20px">
		[-1, -3, 0, 1, 2]
					</h2></pre>
				</label>
				
				<input type="radio" id="option7B" name="cQ6" value="B" />
				<label for="option7B">B.
					<pre><h2 style="font-size:20px">
		[-1, -3, 2, 1, 0]
					</h2></pre>
				</label>
				
				<input type="radio" id="option7C" name="cQ6" value="C">
				<label for="option7C">C.
					<pre><h2 style="font-size:20px">
		[-3, -1, 0, 1, 2]
					</h2></pre>
				</label>
				
				<input type="radio" id="option7D" name="cQ6" value="D">
				<label for="option7D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q8">
			<div class="question8">
				<p>8. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {1, 2, 3, 4, 5, 6};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] % 2 == 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer8" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option8A" name="cQ7" value="A" />
				<label for="option8A">A.
					<pre><h2 style="font-size:20px">
		[2, 4, 6, 1, 3, 5]
					</h2></pre>
				</label>
				
				<input type="radio" id="option8B" name="cQ7" value="B" />
				<label for="option8B">B.
					<pre><h2 style="font-size:20px">
		[2, 4, 6, 5, 3, 1]
					</h2></pre>
				</label>
				
				<input type="radio" id="option8C" name="cQ7" value="C">
				<label for="option8C">C.
					<pre><h2 style="font-size:20px">
		[6, 4, 2, 1, 3, 5]
					</h2></pre>
				</label>
				
				<input type="radio" id="option8D" name="cQ7" value="D">
				<label for="option8D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q9">
			<div class="question9">
				<p>9. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {-1, 0, 1, -3, 2};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] > 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="C" name="answer9" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option9A" name="cQ8" value="A" />
				<label for="option9A">A.
					<pre><h2 style="font-size:20px">
		[0, 1, 2, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option9B" name="cQ8" value="B" />
				<label for="option9B">B.
					<pre><h2 style="font-size:20px">
		[1, 0, 2, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option9C" name="cQ8" value="C" />
				<label for="option9C">C.
					<pre><h2 style="font-size:20px">
		[2, 1, 0, -1, -3]
					</h2></pre>
				</label>
				
				
				<input type="radio" id="option9D" name="cQ8" value="D" />
				<label for="option9D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>

				


		</div>
		
		<div style="display:none;" id="Q10">
			<div class="question10">
				<p>10. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
							int[] nums = {-1, 0, 1, -3, 2};
							int left = 0, right = nums.length - 1;
							while (left <= right) {
								if (nums[left] >= 0) {
									left++;
								} else {
									int temp = nums[left];
									nums[left] = nums[right];
									nums[right] = temp;
									right--;
								}
							}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="C" name="answer10" />
				<input type="hidden" value="type2" name="Qtype2"/>
				<input type="radio" id="option10A" name="cQ9" value="A" />
				<label for="option10A">A.
					<pre><h2 style="font-size:20px">
		[0, 1, 2, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option10B" name="cQ9" value="B" />
				<label for="option10B">B.
					<pre><h2 style="font-size:20px">
		[1, 0, 2, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option10C" name="cQ9" value="C">
				<label for="option10C">C.
					<pre><h2 style="font-size:20px">
		[2, 1, 0, -1, -3]
					</h2></pre>
				</label>
				
				<input type="radio" id="option10D" name="cQ9" value="D">
				<label for="option10D">D.
					<pre><h2 style="font-size:20px">
		以上都不正确
					</h2></pre>
				</label>
				
</div>


    <button type="button" onclick="showAnswer()" name="submit"><h1>Submit</h1></button>
		<button type="button" style="display:none" name="refresh" onclick="refresh()"><h1>Refresh</h1></button>
	</body>
</html>