<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
	<head>
		<title>课程页面</title>
		<script type="text/JavaScript" src="../../../static/js/typeMethod.js""></script>

	</head>

	<body onload="showup()">
		
		<div style="display:none;" id="Q1">
			<div class="question1">
				<p>1. (单选题, 4.0 分) What keyword is used to define a constructor in Java? A. this B. constructor</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="D" name="answer1" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="optionA" name="cQ0" value="A" />
				<label for="optionA">A.
					<pre><h2 style="font-size:20px">
		this
					</h2></pre>
				</label>
				
				<input type="radio" id="optionB" name="cQ0" value="B" />
				<label for="optionB">B.
					<pre><h2 style="font-size:20px">
		constructor
					</h2></pre>
				</label>
				
				<input type="radio" id="optionC" name="cQ0" value="C" />
				<label for="optionC">C.
					<pre><h2 style="font-size:20px">
		new
					</h2></pre>
				</label>
				
				<input type="radio" id="optionD" name="cQ0" value="D" />
				<label for="optionD">D.
					<pre><h2 style="font-size:20px">
		None of the above
					</h2></pre>
				</label>
				


		</div>

		<div style="display:none;" id="Q2">
			<div class="question2">
				<p>2. (单选题, 4.0 分) Can a constructor have a return type in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="B" name="answer2" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option2A" name="cQ1" value="A" />
				<label for="option2A">A.
					<pre><h2 style="font-size:20px">
		Yes
					</h2></pre>
				</label>
				
				<input type="radio" id="option2B" name="cQ1" value="B" />
				<label for="option2B">B.
					<pre><h2 style="font-size:20px">
		No 
					</h2></pre>
				</label>
				
				<input type="radio" id="option2C" name="cQ1" value="C">
				<label for="option2C">C.
					<pre><h2 style="font-size:20px">
		Maybe
					</h2></pre>
				</label>
				
				<input type="radio" id="option2D" name="cQ1" value="D">
				<label for="option2D">D.
					<pre><h2 style="font-size:20px">
		Not sure
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q3">
			<div class="question3">
				<p>3. (单选题, 4.0 分) How is a constructor different from a regular method in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="C" name="answer3" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option3A" name="cQ2" value="A" />
				<label for="option3A">A.
					<pre><h2 style="font-size:20px">
		Constructors are called explicitly, methods are called implicitly
					</h2></pre>
				</label>
				
				<input type="radio" id="option3B" name="cQ2" value="B" />
				<label for="option3B">B.
					<pre><h2 style="font-size:20px">
		Constructors return a value, methods do not
					</h2></pre>
				</label>
				
				<input type="radio" id="option3C" name="cQ2" value="C">
				<label for="option3C">C.
					<pre><h2 style="font-size:20px">
		Constructors are defined within classes, methods are defined outside classes
					</h2></pre>
				</label>
				
				<input type="radio" id="option3D" name="cQ2" value="D">
				<label for="option3D">D.
					<pre><h2 style="font-size:20px">
		Constructors can be static, methods cannot
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q4">
			<div class="question4">
				<p>4. (单选题, 4.0 分) What is the purpose of a constructor in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="B" name="answer4" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option4A" name="cQ3" value="A" />
				<label for="option4A">A.
					<pre><h2 style="font-size:20px">
		To return a value
					</h2></pre>
				</label>
				
				<input type="radio" id="option4B" name="cQ3" value="B" />
				<label for="option4B">B.
					<pre><h2 style="font-size:20px">
		To initialize an object
					</h2></pre>
				</label>
				
				<input type="radio" id="option4C" name="cQ3" value="C">
				<label for="option4C">C.
					<pre><h2 style="font-size:20px">
		To perform a specific action
					</h2></pre>
				</label>
				
				<input type="radio" id="option4D" name="cQ3" value="D">
				<label for="option4D">D.
					<pre><h2 style="font-size:20px">
		To define a static method
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q5">
			<div class="question5">
				<p>5. (单选题, 4.0 分)Can a constructor be overloaded in Java?  </p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer5" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option5A" name="cQ4" value="A" />
				<label for="option5A">A.
					<pre><h2 style="font-size:20px">
		Yes                   
					</h2></pre>
				</label>
				
				<input type="radio" id="option5B" name="cQ4" value="B" />
				<label for="option5B">B.
					<pre><h2 style="font-size:20px">
		No
					</h2></pre>
				</label>
				
				<input type="radio" id="option5C" name="cQ4" value="C">
				<label for="option5C">C.
					<pre><h2 style="font-size:20px">
		Maybe
					</h2></pre>
				</label>
				
				<input type="radio" id="option5D" name="cQ4" value="D">
				<label for="option5D">D.
					<pre><h2 style="font-size:20px">
		Not sure
					</h2></pre>
				</label>


		</div>
		
		<div style="display:none;" id="Q6">
			<div class="question6">
				<p>6. (单选题, 4.0 分) When is a constructor called in Java? </p>

			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer6" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option6A" name="cQ5" value="A" />
				<label for="option6A">A.
					<pre><h2 style="font-size:20px">
		
					</h2></pre>
				</label>
		Whenever an object is created		
				<input type="radio" id="option6B" name="cQ5" value="B" />
				<label for="option6B">B.
					<pre><h2 style="font-size:20px">
		Before the main method starts executing
					</h2></pre>
				</label>
				
				<input type="radio" id="option6C" name="cQ5" value="C">
				<label for="option6C">C.
					<pre><h2 style="font-size:20px">
		After all other methods have been called
					</h2></pre>
				</label>
				
				<input type="radio" id="option6D" name="cQ5" value="D">
				<label for="option6D">D.
					<pre><h2 style="font-size:20px">
		Only when explicitly invoked
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q7">
			<div class="question7">
				<p>7. (单选题, 4.0 分) Can a constructor have parameters in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer7" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option7A" name="cQ6" value="A" />
				<label for="option7A">A.
					<pre><h2 style="font-size:20px">
		Yes				
					</h2></pre>
				</label>
				
				<input type="radio" id="option7B" name="cQ6" value="B" />
				<label for="option7B">B.
					<pre><h2 style="font-size:20px">
		No 
					</h2></pre>
				</label>
				
				<input type="radio" id="option7C" name="cQ6" value="C">
				<label for="option7C">C.
					<pre><h2 style="font-size:20px">
		Maybe
					</h2></pre>
				</label>
				
				<input type="radio" id="option7D" name="cQ6" value="D">
				<label for="option7D">D.
					<pre><h2 style="font-size:20px">
	    Not sure
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q8">
			<div class="question8">
				<p>8. (单选题, 4.0 分) How can you invoke one constructor from another in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="A" name="answer8" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option8A" name="cQ7" value="A" />
				<label for="option8A">A.
					<pre><h2 style="font-size:20px">
		Using the super() keyword
					</h2></pre>
				</label>
				
				<input type="radio" id="option8B" name="cQ7" value="B" />
				<label for="option8B">B.
					<pre><h2 style="font-size:20px">
		Using the this() keyword
					</h2></pre>
				</label>
				
				<input type="radio" id="option8C" name="cQ7" value="C">
				<label for="option8C">C.
					<pre><h2 style="font-size:20px">
		Using the extends keyword
					</h2></pre>
				</label>
				
				<input type="radio" id="option8D" name="cQ7" value="D">
				<label for="option8D">D.
					<pre><h2 style="font-size:20px">
	    Using the new keyword
					</h2></pre>
				</label>
				


		</div>
		
		<div style="display:none;" id="Q9">
			<div class="question9">
				<p>9. (单选题, 4.0 分) Can a constructor be private in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="B" name="answer9" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option9A" name="cQ8" value="A" />
				<label for="option9A">A.
					<pre><h2 style="font-size:20px">
		Yes
					</h2></pre>
				</label>
				
				<input type="radio" id="option9B" name="cQ8" value="B" />
				<label for="option9B">B.
					<pre><h2 style="font-size:20px">
		No
					</h2></pre>
				</label>
				
				<input type="radio" id="option9C" name="cQ8" value="C" />
				<label for="option9C">C.
					<pre><h2 style="font-size:20px">
		Maybe
					</h2></pre>
				</label>
				
				
				<input type="radio" id="option9D" name="cQ8" value="D" />
				<label for="option9D">D.
					<pre><h2 style="font-size:20px">
		Not sure
					</h2></pre>
				</label>

				


		</div>
		
		<div style="display:none;" id="Q10">
			<div class="question10">
				<p>10. (单选题, 4.0 分) What is the difference between default constructor and parameterized constructor in Java?</p>
			</div>


			<!-- Record the type/label of this question -->
				<input type="hidden" value="B" name="answer10" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option10A" name="cQ9" value="A" />
				<label for="option10A">A.
					<pre><h2 style="font-size:20px">
		Default constructor has parameters, parameterized constructor does not 
					</h2></pre>
				</label>
				
				<input type="radio" id="option10B" name="cQ9" value="B" />
				<label for="option10B">B.
					<pre><h2 style="font-size:20px">
		Default constructor is automatically provided by Java, parameterized constructor is user-defined 
					</h2></pre>
				</label>
				
				<input type="radio" id="option10C" name="cQ9" value="C">
				<label for="option10C">C.
					<pre><h2 style="font-size:20px">
		Default constructor has a return type, parameterized constructor does not
					</h2></pre>
				</label>
				
				<input type="radio" id="option10D" name="cQ9" value="D">
				<label for="option10D">D.
					<pre><h2 style="font-size:20px">
		Default constructor can be overloaded, parameterized constructor cannot
					</h2></pre>
				</label>
				
</div>


    <button type="button" onclick="showAnswer()" name="submit"><h1>Submit</h1></button>
		<button type="button" style="display:none" name="refresh" onclick="refresh()"><h1>Refresh</h1></button>
	</body>
</html>