<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
	<head>
		<title>Choice Question:Type2</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" href="../../../static/css/type.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
		<script type="text/JavaScript" src="../../../static/js/typeMethod.js"></script>
	</head>

	<body onload="showup()">
		
		<div class="container" style="display:none;" id="Q1">
			<div class="question1">
				<p>1. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class MyClass {
static int count = 0;
public MyClass() {
count++;
}
public static void main(String[] args) {
MyClass obj1 = new MyClass();
MyClass obj2 = new MyClass();
System.out.println(count);
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			 <div class="options">
				<input type="hidden" value="B" name="answer1" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="optionA" name="cQ0" value="A" />
				<label for="optionA">A.
					<pre><h2 style="font-size:20px">
		1
					</h2></pre>
				</label>
				
				<input type="radio" id="optionB" name="cQ0" value="B" />
				<label for="optionB">B.
					<pre><h2 style="font-size:20px">
		2
					</h2></pre>
				</label>
				
				<input type="radio" id="optionC" name="cQ0" value="C" />
				<label for="optionC">C.
					<pre><h2 style="font-size:20px">
		0
					</h2></pre>
				</label>
				
				<input type="radio" id="optionD" name="cQ0" value="D" />
				<label for="optionD">D.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
			</div>
				


		</div>

		<div class="container" style="display:none;" id="Q2">
			<div class="question2">
				<p>2. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Parent {
void display() {
System.out.println("Parent class");
				}
		}

public class Child extends Parent {
void display() {
System.out.println("Child class");
}

public static void main(String[] args) {
Parent obj = new Child();
obj.display();
}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="C" name="answer2" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option2A" name="cQ1" value="A" />
				<label for="option2A">A.
					<pre><h2 style="font-size:20px">
		Parent class
					</h2></pre>
				</label>
				
				<input type="radio" id="option2B" name="cQ1" value="B" />
				<label for="option2B">B.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option2C" name="cQ1" value="C">
				<label for="option2C">C.
					<pre><h2 style="font-size:20px">
		Child class
					</h2></pre>
				</label>
				
				<input type="radio" id="option2D" name="cQ1" value="D">
				<label for="option2D">D.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>
				
		</div>

		</div>
		
		<div class="container" style="display:none;" id="Q3">
			<div class="question3">
				<p>3. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Test {
static int x = 50;
public Test() {
x++;
}

public static void main(String[] args) {
Test obj = new Test();
System.out.println(obj.x);
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="B" name="answer3" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option3A" name="cQ2" value="A" />
				<label for="option3A">A.
					<pre><h2 style="font-size:20px">
		50
					</h2></pre>
				</label>
				
				<input type="radio" id="option3B" name="cQ2" value="B" />
				<label for="option3B">B.
					<pre><h2 style="font-size:20px">
		51
					</h2></pre>
				</label>
				
				<input type="radio" id="option3C" name="cQ2" value="C">
				<label for="option3C">C.
					<pre><h2 style="font-size:20px">
		0
					</h2></pre>
				</label>
				
				<input type="radio" id="option3D" name="cQ2" value="D">
				<label for="option3D">D.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
				
		</div>

		</div>
		
		<div class="container" style="display:none;" id="Q4">
			<div class="question4">
				<p>4. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Book {
public String title;  
public Book(String title) {
this.title = title;
}

public static void main(String[] args) {
Book b1 = new Book("Java Programming");
Book b2 = new Book("Python Programming");

System.out.println(b1.title);
System.out.println(b2.title);
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="B" name="answer4" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option4A" name="cQ3" value="A" />
				<label for="option4A">A.
					<pre><h2 style="font-size:20px">
		Java Programming, Java Programming
					</h2></pre>
				</label>
				
				<input type="radio" id="option4B" name="cQ3" value="B" />
				<label for="option4B">B.
					<pre><h2 style="font-size:20px">
		Java Programming, Python Programming
					</h2></pre>
				</label>
				
				<input type="radio" id="option4C" name="cQ3" value="C">
				<label for="option4C">C.
					<pre><h2 style="font-size:20px">
		Python Programming, Python Programming
					</h2></pre>
				</label>
				
				<input type="radio" id="option4D" name="cQ3" value="D">
				<label for="option4D">D.
					<pre><h2 style="font-size:20px">
		Python Programming, Java Programming
					</h2></pre>
				</label>
				

		</div>
		</div>
		
		<div class="container" style="display:none;" id="Q5">
			<div class="question5">
				<p>5. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Shape {
void draw() {
System.out.println("Drawing a shape");
	}
}

public class Circle extends Shape {
void draw() {
System.out.println("Drawing a circle");
	}

public static void main(String[] args) {
Shape shape = new Circle();
shape.draw();
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="C" name="answer5" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option5A" name="cQ4" value="A" />
				<label for="option5A">A.
					<pre><h2 style="font-size:20px">
		Drawing a shape                      
					</h2></pre>
				</label>
				
				<input type="radio" id="option5B" name="cQ4" value="B" />
				<label for="option5B">B.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option5C" name="cQ4" value="C">
				<label for="option5C">C.
					<pre><h2 style="font-size:20px">
		Drawing a circle
					</h2></pre>
				</label>
				
				<input type="radio" id="option5D" name="cQ4" value="D">
				<label for="option5D">D.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>

		</div>
		</div>
		
		<div class="container" style="display:none;" id="Q6">
			<div class="question6">
				<p>6. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Employee {
private String name;

public String getName() {
return name;
}

public void setName(String name) {
this.name = name;
	}
}

public class Main {
public static void main(String[] args) {
Employee emp = new Employee();
emp.setName("John");
System.out.println(emp.getName());
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="D" name="answer6" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option6A" name="cQ5" value="A" />
				<label for="option6A">A.
					<pre><h2 style="font-size:20px">
		null
					</h2></pre>
				</label>
				
				<input type="radio" id="option6B" name="cQ5" value="B" />
				<label for="option6B">B.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option6C" name="cQ5" value="C">
				<label for="option6C">C.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option6D" name="cQ5" value="D">
				<label for="option6D">D.
					<pre><h2 style="font-size:20px">
		John
					</h2></pre>
				</label>
				

		</div>
		</div>
		
		<div class="container" style="display:none;" id="Q7">
			<div class="question7">
				<p>7. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Person {
protected String name;

public Person(String name) {
this.name = name;
	}
}

public class Student extends Person {
private int studentId;

public Student(String name, int studentId) {
super(name);
this.studentId = studentId;
}

public static void main(String[] args) {
Student student = new Student("Alice", 12345);
System.out.println(student.name + " " + student.studentId);
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="C" name="answer7" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option7A" name="cQ6" value="A" />
				<label for="option7A">A.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option7B" name="cQ6" value="B" />
				<label for="option7B">B.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option7C" name="cQ6" value="C">
				<label for="option7C">C.
					<pre><h2 style="font-size:20px">
		Alice 12345
					</h2></pre>
				</label>
				
				<input type="radio" id="option7D" name="cQ6" value="D">
				<label for="option7D">D.
					<pre><h2 style="font-size:20px">
		null 0
					</h2></pre>
				</label>
				

		</div>
		</div>
		
		<div class="container" style="display:none;" id="Q8">
			<div class="question8">
				<p>8. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class A {
static void display() {
System.out.println("A");
	}
}

Public class B extends A {
static void display() {
System.out.println("B");
}

public static void main(String[] args) {
A obj = new B();
obj.display();
	}	
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="A" name="answer8" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option8A" name="cQ7" value="A" />
				<label for="option8A">A.
					<pre><h2 style="font-size:20px">
		A
					</h2></pre>
				</label>
				
				<input type="radio" id="option8B" name="cQ7" value="B" />
				<label for="option8B">B.
					<pre><h2 style="font-size:20px">
		B 
					</h2></pre>
				</label>
				
				<input type="radio" id="option8C" name="cQ7" value="C">
				<label for="option8C">C.
					<pre><h2 style="font-size:20px">
		Compiler Error 
					</h2></pre>
				</label>
				
				<input type="radio" id="option8D" name="cQ7" value="D">
				<label for="option8D">D.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>
				

		</div>
		</div>
		
		<div class="container" style="display:none;" id="Q9">
			<div class="question9">
				<p>9. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class Animal {
void sound() {
System.out.println("Animal makes a sound");
	}
}

public class Cat extends Animal {
void sound() {
System.out.println("Cat meows");
}

public static void main(String[] args) {
Animal animal = new Cat();
animal.sound();
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="A" name="answer9" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option9A" name="cQ8" value="A" />
				<label for="option9A">A.
					<pre><h2 style="font-size:20px">
		Cat meows
					</h2></pre>
				</label>
				
				<input type="radio" id="option9B" name="cQ8" value="B" />
				<label for="option9B">B.
					<pre><h2 style="font-size:20px">
		Animal makes a sound
					</h2></pre>
				</label>
				
				<input type="radio" id="option9C" name="cQ8" value="C" />
				<label for="option9C">C.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
				
				
				<input type="radio" id="option9D" name="cQ8" value="D" />
				<label for="option9D">D.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>

				
		</div>

		</div>
		
		<div class="container" style="display:none;" id="Q10">
			<div class="question10">
				<p>10. (单选题, 4.0 分) Choose the following codes' output:</p>
				<div>
					<pre>
						<code>
						<h1>
public class MyClass {
int x = 10;

public static void main(String[] args) {
MyClass obj = new MyClass();
System.out.println(obj.x);
	}
}
						</h1>
						</code>
					</pre>
				</div>
			</div>


			<!-- Record the type/label of this question -->
			<div class="options">
				<input type="hidden" value="B" name="answer10" />
				<input type="hidden" value="type1" name="Qtype"/>
				<input type="radio" id="option10A" name="cQ9" value="A" />
				<label for="option10A">A.
					<pre><h2 style="font-size:20px">
		0
					</h2></pre>
				</label>
				
				<input type="radio" id="option10B" name="cQ9" value="B" />
				<label for="option10B">B.
					<pre><h2 style="font-size:20px">
		10
					</h2></pre>
				</label>
				
				<input type="radio" id="option10C" name="cQ9" value="C">
				<label for="option10C">C.
					<pre><h2 style="font-size:20px">
		Error
					</h2></pre>
				</label>
				
				<input type="radio" id="option10D" name="cQ9" value="D">
				<label for="option10D">D.
					<pre><h2 style="font-size:20px">
		Compiler Error
					</h2></pre>
				</label>
			</div>	
</div>


    <button type="button" onclick="showAnswer()" name="submit"><h1>Submit</h1></button>
		<button type="button" style="display:none" name="refresh" onclick="refresh()"><h1>Refresh</h1></button>
	</body>
</html>